{% extends "cmsplugin_blog/cmsplugin_blog_base.html" %}

{% load i18n uni_form_tags cms_example_tags placeholder_tags cmsplugin_blog_tags simple_translation_tags comments threadedcomments_tags sekizai_tags adminmedia  %}

{% block left-col %}
{% with object|get_preferred_translation_from_request:request as title %}
<h1>{{ title }}</h1>

<p class="date"><span>{{ object.pub_date|date:"d F Y" }}</span> {{ object|render_language_choices:request|safe }}</p>

{% with object.placeholders|choose_placeholder:"content" as content %}
    {% render_placeholder one %}
{% endwith %}

{% addtoblock "js" %}
<script type="text/javascript">
//<![CDATA[
function display_comment_form(id_of_form) {
    jQuery('#'+id_of_form).slideDown()
}
//]]>
</script>
{% endaddtoblock %}

<h2>{% trans "Comments" %}</h2>

{% load_uni_form_helper "cms_example.form_helpers.comment_form_helper" as comment_form_helper %}

{% get_comment_list for title as comments_list %}

{% for comment in comments_list|fill_tree|annotate_tree %}

{% if not comment.open  %}
    </div>
{% endif %}
    
<div {% if forloop.last %}id="clast"{% else %}id="c{{ comment.pk }}"{% endif %} class="comment {% if comment.depth != 1 %}indent {% endif %}{% cycle 'row1' 'row2' %}">

<p class="comment-title">{{ comment.title }}</p>
{{ comment.comment|linebreaks }} <p><a href="#" onclick="display_comment_form('comment-form-{{ comment.pk }}'); return false">{% trans "Reply" %}</a></p>

<div class="comment-form-threaded" id="comment-form-{{ comment.pk }}">
{% get_comment_form for title as comment_form with comment.pk %}
{% uni_form comment_form comment_form_helper %}
</div>

{% for close in comment.close %}
    </div>
{% endfor %}

{% endfor %}

<h2>{% trans "Comment on this blogpost" %}</h2>

{% get_comment_form for title as comment_form %}
{% uni_form comment_form comment_form_helper %}
{% endwith %}

{% endblock %}

{% block right-col %}

{% render_month_links %}

{% render_tag_links %}

{% endblock %}