{% extends "comments/base.html" %}

{% load i18n uni_form_tags cms_example_tags sekizai_tags comments %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block left-col %}


  <form action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    {% if form.errors %}
    <h1>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
    <h1>{% trans "Preview your comment" %}</h1>
      <blockquote>{{ comment|linebreaks }}</blockquote>
      <p>
      {% trans "and" %} <input type="submit" name="submit" class="submit-post" value="{% trans "Post your comment" %}" id="submit" /> {% trans "or make changes" %}:
      </p>
    {% endif %}
   </form>

{% load_uni_form_helper "cms_example.form_helpers.comment_form_helper" as comment_form_helper %}
{% uni_form form comment_form_helper %}


{% endblock %}