Django==1.2.5
django-staticfiles
PIL
South
-e git+http://github.com/fivethreeo/django-cms.git@develop#egg=django-cms
simple-translation
djangocms-utils
-e git+http://github.com/fivethreeo/cmsplugin-blog.git#egg=cmsplugin_blog
-e git+http://github.com/fivethreeo/django-cms-facetsearch.git#egg=django-cms-facetsearch
-e git+http://github.com/fivethreeo/cmsplugin-blog-search.git#egg=cmsplugin-blog-search
-e git+http://github.com/HonzaKral/django-threadedcomments.git#egg=django-threadedcomments
django-uni-form
django-sekizai
django-cbv
django-pagination
django-reversion
django-tagging
django-tinymce
django-haystack
django-filer
django-celery
python-memcached
cmsplugin-filer==0.8.0
easy-thumbnails==1.0-alpha-13
gunicorn
psycopg2
pysolr
BeautifulSoup