{% extends "cms_example/base.html" %}
{% load i18n cms_tags menu_tags %}
{% block tpl_id %}tpl_home{% endblock %}
{% block extrahead %}
  <script type="text/javascript">
    $(function(){
    })(jQuery);
  </script>
{% endblock %}
{% block extend_base %}
<!-- start: header -->
<div id="header" class="container clearfix">
    {% include "cms_example/header.html" %}
</div>
<!-- end: header -->
<!-- start: content -->
{% block content %}
<div id="main" class="container clearfix">
  <div class="span-12">
    <div>
      {% with "470" as width%}
        {% placeholder top %}
      {% endwith %}
    </div>
  </div>
  <div class="span-12">
    <div>
    {% with "190" as width%}
      {% placeholder right %}
    {% endwith %}
    </div>
  </div>
</div>

{% endblock %}
<!-- end: content -->
<!-- start: footer -->
<div class="container clearfix">
  <div id="footer" class="span-24">
    {% include "cms_example/footer.html" %}
  </div>
</div>
<!-- end: footer -->
{% endblock %}