{% extends "cms_example/base.html" %}
{% load i18n cms_tags %}

{% block tpl_id %}tpl_master{% endblock %}

{% block extend_base %}
<!-- start: header -->
<div id="header" class="span-24 container last">
  
</div>
<!-- end: header -->
{% block content %}
<!-- start: content -->
<h1 class="hidden" id="content">{% trans "Content:" %} {% page_attribute title %}</h1>
<div id="main" class="span-24 container last">
  <div class="span-24 last">
  {% block feature %}{% with "950" as width %}{% placeholder feature %}{% endwith %}{% endblock feature %}
  {% block col_content %}
    {% block page_title %}<h1>{% page_attribute title %}</h1>{% endblock page_title %}
    {% with "950" as width %}
      {% placeholder col_content %}
    {% endwith %}
  {% endblock col_content %}
  </div>
</div>
<!-- end: content -->
{% endblock content %}
<!-- start: footer -->
<div class="span-24 container last clearfix">
  <div id="footer" class="span-24">
  </div>
</div>
<!-- end: footer -->
{% endblock extend_base %}